<!-- footer -->
<div class="footer">
      <div class="footer-container">
        <img class="footer-logo" src="./12 (2).jpg" alt="Logo">
        <div class="footer-content">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel urna vel nunc posuere euismod.</p>
        </div>
        <div class="footer-content">
          <h2>Partnership</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="footer-content">
          <h2>Support</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="footer-line"></div>
      <div class="footer-email">
        <h2><strong>Subscribe to Our Newsletter</strong></h2>
        <p>Stay up to date with our latest news and updates.</p>
        <form>
          <input type="email" placeholder="Your Email" style="font-weight: bold; background-color: rgb(178, 178, 206);">
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <p>All rights reserved &copy; 2023</p>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
      
      </body>
      </html>