{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="concept">
    <h2>Compound Interest</h2>
    <p>Compound interest is the concept of earning interest not only on the initial investment but also on the accumulated interest over time.</p>
    <img src="./12 (2).jpg" alt="Compound Interest">
  </div>
  <div class="concept">
    <h2>Diversification</h2>
    <p>Diversification is spreading your investments across different assets or asset classes to reduce risk. It helps mitigate the impact of poor performance in one investment.</p>
    <img src="diversification.jpg" alt="Diversification">
  </div>
  <div class="concept">
    <h2>Risk and Return</h2>
    <p>The principle of risk and return states that generally, higher returns are associated with higher risks. Investors need to find a balance between risk and potential rewards.</p>
    <img src="risk_return.jpg" alt="Risk and Return">
  </div>
</div>

{% endblock %}