{% extends 'base.html' %}
{% block content %}


  <div class="container">
      <div class="concept">
        <h2>Indian Stock Market: Exchanges <br>
          and Indexes Explained</h2>
       <p>
        With its massive population and bustling economy, India is an engine of growth. Although India's stock exchanges equate to less than 3% of the total global market capitalization as of 2020 (latest information), upon closer inspection, you will find the same things you would expect from any promising market.
<br>
<br>
Here we'll provide an overview of the Indian stock market and how interested investors can gain exposure.
<br>
<br>      
</p>
       <p>
        A stock market is similar to a share market. A share market is where the shares are issued or traded in. The primary difference between the two is that the stock market lets an individual trade in bonds, mutual funds, derivatives, shares of a company, etc. On the other hand, a share market only allows the trading of shares.
       </p>
        <img src="./12 (2).jpg" alt="Compound Interest">
      </div>
      <div class="concept">
        <h2>How Does the Stock Market Work?</h2>
<p>
  Companies raise money on the stock market by selling ownership stakes to investors. These equity stakes are known as shares of stock. 
<br>
<br>
By listing shares for sale on the stock exchanges that make up the stock market, companies get access to the capital they need to operate and expand their businesses without having to take on debt. Investors benefit by exchanging their money for shares on the stock market.
<br>
<br>
As companies put that money to grow and expand their businesses, it profits the investors as their shares of stock become more valuable over time, leading to capital gains. In addition, companies pay dividends to their shareholders as their profits grow.
<br>
<br>
The performances of individual stocks vary widely over time but taken as a whole, the stock market has historically rewarded investors with average annual returns of around 10%, making it one of the most reliable ways of growing your money.
</p>        <img src="diversification.jpg" alt="Diversification">
      </div>
      <div class="concept">
        <h2>How does the share market work in India?</h2>
<p>
  An investor can invest in stocks and earn profits in two ways: long term and short term. Long term investments are called equity investments, and short term investments are called debt investments.
<br>
<br>
The share market in India is quite popular among retail investors as well as institutional investors. The Indian stock market is quite popular among international investors due to its high returns, especially in the primary markets.
<br>
<br>
The Indian Stock Market is a financial market wherein many securities, including equities, bonds, ETFs and derivatives, trade on exchanges at prices determined by demand and supply. SEBI in India regulates the stock exchanges. There are two major stock markets in India- NSE, the National Stock Exchange of India and BSE, the Bombay Stock Exchange.
<br>
<br>
The share market is an organised, regulated and centralised forum that brings together investors and companies. Its primary purpose is to raise finances for business expansion through the sale of shares.
</p>        <img src="risk_return.jpg" alt="Risk and Return">
      </div>
    </div>
{% endblock %}